//====================================================================================================
.mainpage {
    &__body {
        position: relative;
        &::before {
            content: "";
            background: url("@img/wave-element.svg") 0 0 / 100% no-repeat;
            position: absolute;
            top: -80px;
            right: 50%;
            height: 14908px;
            width: 1920px;
            transform: translate(50%, 0);
        }
    }
    // .mainpage__slider
    &__slider {}
    // .mainpage__about
    &__about {}
}

@media (max-width: $tablet) {
    .touch .main-slider[data-fullscreen] {
        min-height: 0;
    }
}

.main-slider {
    @include adaptiveValue("padding-top",
    185,
    80);
    @include adaptiveValue("padding-bottom",
    70,
    30);
    //  background-color: #0c0b08;
    @media (max-width: $tablet) {
        display: flex;
        min-height: 0;
    }
    // .main-slider__container
    &__container {
        &:not(.main-slider__container_wide) {
            padding: 0;
        }
        // .main-slider__container_wide
        &_wide {
            position: relative;
            flex: 1 1 auto;
            min-width: 0;
        }
    }
    // .main-slider__menu
    &__menu {}
    // .main-slider__scroll
    &__scroll {
        @media (min-width: em(1445)) {
            position: absolute;
            right: rem(15);
            bottom: 0;
        }
        @media (max-width: em(1445)) {
            padding-top: rem(15);
            &::before {
                display: none;
            }
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

.body-main-slider {
    @media (min-width: $tablet) {
        height: 100%;
        // min-height: 300px;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: $tablet) {
        &.swiper {
            overflow: visible;
        }
    }
    // .body-main-slider__slider
    // .body-main-slider__swiper
    &__swiper {
        flex: 1 1 auto;
        align-items: center;
    }
    // .body-main-slider__slide
    &__slide {
        @media (min-width: $tablet) {
            height: 100%;
        }
    }
    // .body-main-slider__controll
    &__controll {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: $tablet) {
            padding-top: rem(88);
        }
        @media (max-width: em(1445)) {
            padding-top: rem(15);
        }
        font-size: rem(22);
        gap: 8px;
        @extend %cuf;
        .swiper-pagination-bullet {
            cursor: pointer;
            color: #f5efdb;
            font-weight: 600;
            line-height: 175%;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            display: flex;
            gap: 8px;
            align-items: center;
            &::after {
                content: "";
                width: 0px;
                height: 1px;
                background-color: $mainYellow;
                transition: width 0.3s ease 0s;
            }
        }
        .swiper-pagination-bullet-active {
            color: $mainWhite;
            &::after {
                content: "";
                width: 16px;
                height: 1px;
                background-color: $mainYellow;
            }
        }
    }
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.slide-main-slider {
    padding-top: 25px;
    gap: 50px;
    @media (max-width: em(1445)) {
        padding-top: rem(45);
        padding-bottom: rem(20);
    }
    opacity: 0 !important;
    pointer-events: none;
    @media (min-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    &.swiper-slide-active {
        pointer-events: auto;
        opacity: 1 !important;
    }
    // .slide-main-slider__content
    &__content {
        align-self: center;
        display: grid;
        gap: 32px;
        @media (min-width: $tablet) {
            max-width: rem(500);
            padding-right: rem(40);
        }
        @media (min-width: $mobile) {
            justify-items: stretch;
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }
    // .slide-main-slider__header
    &__header {}
    // .slide-main-slider__text
    &__text {}
    // .slide-main-slider__button
    &__button {
        @media (min-width: $mobile) {
            justify-self: start;
        }
    }
    // .slide-main-slider__image
    &__image-ibg {
        align-self: center;
        position: relative;
        padding-bottom: percent(619, 688);
        @media (min-width: $tablet) {
            max-height: 736px;
            height: 100%;
            margin-right: percent(25, 650);
        }
        @media (max-width: $tablet) {
            display: block;
            margin: 0px rem(math.div(-$containerPadding, 2));
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: $mainYellow;
            width: percent(435, 619);
            height: percent(435, 688);
            transition: transform 0.3s ease 0s;
            @media (max-width: $tablet) {
                display: none;
            }
        }
        &::before {
            top: 0;
            right: 0;
            transform: translate(25px, -25px);
        }
        &::after {
            bottom: 0;
            left: 0;
            transform: translate(-25px, 25px);
        }
        img {
            z-index: 2;
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    transform: translate(30px, -30px);
                }
                &::after {
                    transform: translate(-30px, 30px);
                }
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.block-header {
    // .block-header_big
    &_big {}
    // .block-header_left
    &_left {}
    // .block-header__sub-title
    &__sub-title {}
    // .block-header__title
    &__title {}
}

.menu-main-slider {
    // .menu-main-slider__link
    display: flex;
    gap: rem(40);
    position: absolute;
    top: 0;
    left: rem(15);
    @media (min-width: em(1445)) {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    &__link {
        font-size: rem(18);
        line-height: 175%;
        letter-spacing: 0.04em;
        color: $mainWhite;
        @media (min-width: em(1445)) {
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $mainYellow;
            }
        }
        &_current {
            color: $mainYellow;
        }
    }
}

//================================================================================================
.about-section {
    @include adaptiveValue("padding-top",
    128,
    40);
    @include adaptiveValue("padding-bottom",
    128,
    40);
    position: relative;
    &::after {
        content: "G";
        @extend %cuf;
        @include adaptiveValue("font-size",
        650,
        500);
        font-weight: 700;
        color: #272727;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    // .about-section__container
    &__container {
        position: relative;
        z-index: 2;
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
        }
    }
    // .about-section__content
    &__content {
        display: grid;
        gap: rem(32);
        align-content: start;
        justify-items: start;
        //   &> :not(:last-child) {
        //       margin-bottom: em(32, 64);
        //   }
        &:first-child {
            @media (min-width: $mobile) {
                justify-items: end;
                text-align: right;
                .about-section__title {
                    justify-items: end;
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
        @media (max-width: $mobile) {
            text-align: center;
            justify-items: center;
            align-items: center;
            .about-section__title {
                justify-items: center;
            }
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    } // .about-section__title
    &__title {
        @extend %cuf;
        color: $mainYellow;
        font-weight: 600;
        @include adaptiveValue("font-size",
        64,
        40,
        1330,
        768,
        1);
        line-height: 130%;
        letter-spacing: 0.04em;
        display: grid;
        gap: 8px;
        &::after {
            @extend %ic;
            content: "\e904";
            color: $mainYellow;
            font-size: em(9, 64);
        }
    }
    // .about-section__text
    &__text {
        @media (min-width: $mobile) {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }
    // .about-section__button
    &__button {}
    // .about-section__knife
    &__knife {
        flex: 0 0 percent(255, 1330);
        padding: 0px rem(15px);
        text-align: center;
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    //"@extend %bg-item;
}

//====================================================================================================
.book {
    @include adaptiveValue("padding-top",
    150,
    0);
    @include adaptiveValue("padding-bottom",
    150,
    0);
    // .book__container
    &__container {
        position: relative;
        &[data-decor] {
            &::before {
                @media (min-width: $pc) {
                    position: absolute;
                    right: rem(-150);
                    top: rem(-170);
                }
            }
        }
    }
    // .book__body
    &__body {
        @media (min-width: em(1390)) {
            margin: 0 rem(-32);
        }
        background: #0c0c0c;
        border: 1px solid rgba(220,
        202,
        135,
        0.2);
        box-shadow: 22px 30px 95px 1px rgba(0,
        0,
        0,
        0.7);
        padding: 0px em(32);
        @include adaptiveValue("padding-top",
        48,
        40);
        @include adaptiveValue("padding-bottom",
        48,
        40);
        @media (max-width: $tablet) {
            margin: 0px rem(-15);
            border-left: none;
            border-right: none;
        }
    }
    // .book__header
    &__header {}
    // .book__form
    &__form {
        text-align: center;
    }
    // .book__button
    &__button {}
}

.block-header {
    // .block-header__sub-title
    &__sub-title {}
    // .block-header__title
    &__title {}
}

.form-book {
    // .form-book__lines
    &__lines {
        @include adaptiveValue("padding-top",
        64,
        20);
        @include adaptiveValue("padding-bottom",
        64,
        20);
        display: grid;
        row-gap: 20px;
        @media (min-width: $tablet) {
            column-gap: 32px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &__line {}
    &__input {
        position: relative;
        &::before {
            position: absolute;
            right: rem(16);
            top: rem(30);
            transform: translate(0, -50%);
            font-size: rem(10);
            transition: transform 0.3s ease 0s;
        }
        &._form-focus {
            &::before {
                transform: translate(0, -50%) rotate(-180deg);
            }
        }
        .form__error {
            color: red;
            font-size: rem(15);
            margin: 10px 0px;
            @media (min-width: $tablet) {
                position: absolute;
                bottom: -25px;
            }
        }
    }
}

//====================================================================================================
.menu-block {
    overflow: hidden;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background: url("@img/mainpage/menu/bg.jpg") center / auto no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $tablet) {
            img {
                opacity: 0.6;
            }
        }
    }
    // .menu-block__container
    &__container {
        // .menu-block__container_wide
        &_wide {
            position: relative;
            &::before {
                @media (min-width: $pc) {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
        }
    }
    // .menu-block__menu
    &__menu {
        @include adaptiveValue("padding-top",
        261,
        80);
        @include adaptiveValue("padding-bottom",
        261,
        80);
    }
    // .menu-block__list
    &__list {
        display: grid;
        gap: 64px;
        @include adaptiveValue("gap",
        64,
        20);
        @media (max-width: $tablet) {
            justify-content: center;
            text-align: center;
        }
    }
    // .menu-block__item
    &__item {}
    // .menu-block__link
    &__link {
        @extend %cuf;
        font-weight: 600;
        @include adaptiveValue("font-size",
        64,
        30);
        line-height: 130%;
        letter-spacing: 0.03em;
        border-bottom: 3px solid $mainWhite;
        color: $mainWhite;
        @media (any-hover: hover) {
            &:hover {
                border-bottom: none;
            }
        }
    }
}

//====================================================================================================
.special {
    @include adaptiveValue("padding-top",
    152,
    40);
    @include adaptiveValue("padding-bottom",
    152,
    40);
    // .special__container
    &__container {
        display: grid;
        @include adaptiveValue("gap",
        65,
        30);
    }
    // .special__header
    &__header {}
    // .special__body
    &__body {
        display: grid;
        gap: 32px;
        align-items: start;
        @media (min-width: $mobile) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $tablet) and (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // .special__table
    &__table {}
    // .special__image
    &__image {
        img {
            max-width: 100%;
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }
    // .special__button
    &__button {
        justify-self: center;
    }
}

.block-header {
    // .block-header__sub-title
    &__sub-title {}
    // .block-header__title
    &__title {}
}

.table-special {
    // .table-special__title
    &__title {
        text-align: center;
        @extend %cuf;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: $mainWhite;
        @include adaptiveValue("font-size",
        45,
        35);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",
            48,
            20);
        }
    }
    // .table-special__body
    &__body {
        display: grid;
        @include adaptiveValue("gap",
        40,
        20);
    }
    // .table-special__item
    &__item {
        display: grid;
        gap: 8px;
    }
    // .table-special__header
    &__header {
        display: grid;
        grid-template-columns: (1fr 70px);
        position: relative;
        justify-content: space-between;
        @extend %cuf;
        font-weight: 700;
        line-height: 130%;
        @include adaptiveValue("font-size",
        23,
        18);
        >* {
            z-index: 2;
            position: relative;
        }
        @media (min-width: $mobileSmall) {
            grid-template-columns: 225px 70px;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 1px;
                top: 10px;
                left: 0;
                position: absolute;
                background-color: $mainWhite;
            }
        }
    }
    // .table-special__value
    &__value {
        color: $mainYellow;
        padding: 0px rem(10) 0px 0px;
        @media (min-width: $mobileSmall) {
            background-color: $mainDark;
        }
    }
    // .table-special__price
    &__price {
        color: $mainWhite;
        text-align: right;
        padding: 0px 0 0px rem(10);
        @media (min-width: $mobileSmall) {
            background-color: $mainDark;
        }
    }
    // .table-special__info
    &__info {
        line-height: 175%;
    }
}

.button {}

//====================================================================================================
.chef {
    @include adaptiveValue("padding-top",
    152,
    40);
    @include adaptiveValue("padding-bottom",
    152,
    40);
    // .chef__container
    &__container {
        display: grid;
        row-gap: 30px;
        @media (min-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(80);
        }
    }
    // .chef__column
    &__column {
        &:first-child {
            text-align: center;
        }
        &:last-child {
            align-self: center;
        }
    }
    // .chef__image
    &__image {
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: $mainYellow;
            width: percent(435, 619);
            height: percent(435, 688);
            transition: transform 0.3s ease 0s;
            @media (max-width: $tablet) {
                display: none;
            }
        }
        &::before {
            top: 0;
            right: 0;
            transform: translate(25px, -25px);
        }
        &::after {
            bottom: 0;
            left: 0;
            transform: translate(-25px, 25px);
        }
        img {
            max-width: 100%;
            z-index: 2;
            position: relative;
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    transform: translate(30px, -30px);
                }
                &::after {
                    transform: translate(-30px, 30px);
                }
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    // .chef__content
    &__content {
        display: grid;
        @include adaptiveValue("gap",
        64,
        40);
        @include adaptiveValue("padding-left",
        40,
        0);
        justify-items: center;
        @media (max-width: $tablet) {
            align-content: center;
        }
    }
    // .chef__header
    &__header {
        text-align: center;
    }
    // .chef__text
    &__text {
        color: #aaa;
        font-style: italic;
        font-weight: 400;
        line-height: 175%;
        &::before {
            color: $mainWhite;
            font-size: rem(40);
            display: inline-block;
            margin-right: em(10, 40);
        }
    }
    // .chef__info
    &__info {}
    // .chef__signature
    &__signature {}
}

.block-header {
    // .block-header_left
    &_left {}
    // .block-header__sub-title
    &__sub-title {}
    // .block-header__title
    &__title {}
}

.info-chef {
    // .info-chef__title
    &__title {
        @extend %cuf;
        font-size: rem(32);
        line-height: 130%;
        color: $mainYellow;
    }
    // .info-chef__text
    &__text {
        line-height: 175%;
    }
}

//====================================================================================================